
@{
    ViewBag.Title = "ingresar";
}
    <h4>@ViewBag.activar</h4><br />
<h2>Log-in:</h2><br />

<form action="login" method="post">
    Email:
    <input type="text" name="Email" /><br /><br />
    Contraseña:
    <input type="text" name="Password" /><br /><br />
   
      <button type="submit">Ingresar</button>
</form><br />

       