@model TPIntegrador_PWeb3.DAL.Usuarios
    @{
        ViewBag.Title = "modificarUsuario";
    }
    <h3>@ViewBag.perfil</h3><br />

    <h2>Ingrese sus datos:</h2><br />
    <form action="Modificar" method="post">
        Nombre:
        <input type="text" name="Nombre" /><br />
        <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
        Apellido:
        <input type="text" name="Apellido" /><br />

        Foto de perfil:
        <input type="file" name="Foto" /><br />
        <button type="submit">Enviar</button>

    </form>