@model List<Evaluacion2.DAL.CantidadPremiosPorCompetidor>
@{
    ViewBag.Title = "ListaPremios";
}

<h2>Lista de Premios</h2><br />

@foreach (Evaluacion2.DAL.CantidadPremiosPorCompetidor c in @Model)
{
    <h3 class="text-success">
        Año:
        @c.Año
    </h3>
    <br />
    <h3>
        Cantidad de premios:
        @c.CantidadPremios
    </h3>
    <br />
    <h3>
        Competidor:
        @c.Competidor.nombre
    </h3>
    <br /><br />
}
<br>

<h4 ><a href="AltaPremios">Crear nuevo premio</a></h4>


