@model List<Evaluacion2.DAL.Competidor>
@{
    ViewBag.Title = "ListaCompetidores";
}

<h2 class="text-info">Lista de Competidores</h2><br />

@foreach (Evaluacion2.DAL.Competidor c in @Model)
{
    <h3>@c.nombre</h3>
    <br />
}
<br>

<h4><a href="AltaCompetidor">Crear nuevo competidor</a></h4>



