
@{
    ViewBag.Title = "Bienvenido";
}

    <center><h2 class="text-primary">Bienvenido</h2></center>

<h3>“Bienvenido a la evaluación de aprendizaje Nro 2”</h3>
<br /><br />

      <h4><a href="Competidores/ListaCompetidores">Ir a Gestión de Competidores</a></h4>
<br /><br />
      <h4><a href="Premios/ListaPremios">Ir a Gestión de Premios</a></h4>

