
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>Menu</h2>

<h3><a href="../Necesidades/crear">Crear necesidad</a></h3><br />
    <h3><a href="../Usuario/HomeUsuario">Mi perfil</a></h3><br />
    <h3><a href="../Necesidades/listar">Necesidades</a></h3><br />
    <h3><a href="#">Acerca de...</a></h3><br />
    <h3><a href="../Usuario/LogOut">Salir</a></h3>
    <h3><a href="Index">Home</a></h3>




