@{
    Layout = "~/Views/Shared/MiPlantilla.cshtml";
    ViewBag.Title = "Anidado";
}


<div class="container body-content text-primary">


    @RenderBody()
</div>

<div class="container body-content text-danger">
    @section links{

        <a href="_NecesidadRanking">VER NECESIDADES MAS VALORADAS</a>
    }
</div>
