@model TPIntegrador_PWeb3.DAL.Necesidades
@{
    ViewBag.Title = "modificarNecesidad";
}

<h2>Modificar</h2><br />

<form action="../modificarNecesidadPost" method="post">
    <input type="hidden" value="@Model.IdNecesidad" name="IdNecesidad" />
   Descripcion:
    <input type="text" placeholder="@Model.Descripcion" name="Descripcion" /><br />
    Nombre:
    <input type="text" placeholder="@Model.Nombre" name="Nombre" /><br />
    Telefono:
    <input type="text" placeholder="@Model.TelefonoContacto" name="TelefonoContacto" /><br />
    <button type="submit" >Modificar</button>
</form>

